* {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial,Roboto-Regular, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 245);
}

.header-web {
    height: 90px;
    background-color: rgb(248, 86, 6);
    color:white
}

.nav-top-info {
    height:25px;
    margin-left:160px;
    margin-right:160px;
}

.nav-top-links {
    display: flex;
    width:40%;
    justify-content: space-between;
    font-size: .75rem;
    padding-top: 5px;
}

.nav-logo {
    width: 120px;
    height: 50px;
}

.daraz-logo {
    width:100%;
    height:100%;
    background-image: url("images/daraz-logo.png");
    background-size: cover;
}

.nav-link {
    color:white;
    text-decoration: none;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function:ease-in-out;
}

.nav-link:hover {
    color:rgb(219, 219, 219);
}

.outer-nav-bottom-info {
    padding: 5px;
    margin-left: 130px;
    margin-right: 130px;
}

.inner-nav-bottom-info {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-bar {
    position: relative;
    display:flex;
    justify-content: space-between;
    width:800px;
    height:40px;
}


.search {
    padding-left: 10px;
    width:100%;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:10px;
    top:5px;
    width: 50px;
    height: 30px;
    background-color: rgb(255, 225, 210);
    color:rgb(248, 86, 6);
    border-radius: 20%;
    font-size: 1.2rem;
}

.user-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:75px;
    height:40px;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height:40px;
}

.lang-select {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:60px;
    height:40px;
    
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height:40px;

}
.ele-text {
    font-size: 0.8rem;
    font-weight: bold;
}

.user-login .fa-user {
    font-size: 1.2rem;
}

.lang-select .fa-globe {
    font-size: 1.3rem;
}

.lang-select-text {
    font-weight: bold;
    font-size: 0.9rem;
}

.fa-cart-shopping {
    font-size: 1.2rem;
}

.select-ele:hover {
    border-radius: 10px;
    background-color: rgb(185, 66, 6);
}

.hero-section {
    display: flex;
    height:550px;
    background-image: url("images/hero-section.jpg");
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
}

.hero-tag {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 219, 201);
    opacity: 0.7;
    width: 65%;
    height: 40px;
    font-size: 0.9rem;
    border-radius: 10px;
    margin-bottom: 15px;
    transition-property: all;
    transition-duration: 200ms;
    transition-delay: 100ms;
    transition-timing-function:ease-in-out;
}

.hero-tag:hover {
    opacity: 1;
    scale: 1.01;
}

.main-hr {
    color:rgb(160, 160, 160);
}

.hero-tag-ele {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hero-tag-ele span {
    margin-left: 5px;
}

.all-categories {
    margin-top: 30px;
}

.category-main-text {
    margin-left: 9rem;
    margin-bottom: 0.5rem;
}

.category-first-section {
    display: flex;
    justify-content: center;
}

.category-second-section {
    display: flex;
    justify-content: center;
}

.categories {
    display:flex;
    flex-direction : column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 145px;
    height: 145px;
    margin:5px;
}

.categories:hover {
    filter: drop-shadow(0 0 0.25rem rgb(187, 187, 187));
}
.categories .category-text {
    text-align: center;

}

#category-wardrobe {
    background-image: url("images/Categories/Wardrobe-Furniture-PNG-Images-HD.png");
    margin-left: 8px;
}

#category-moisturizers {
    background-image: url("images/Categories/Moisturizers.jpg");
}

#category-shampoo {
    background-image: url("images/Categories/shampoo.png");
    margin-left: 30px;
}

#category-kitchen-tools {
    background-image: url("images/Categories/Kitchen Tools.png");
    margin-left: 5px;
}

#category-art-easels {
    background-image: url("images/Categories/Art Easels.jpg");
}

#category-smart-watches {
    background-image: url("images/Categories/smartwatch.png");
}

#category-tshirts {
    background-image: url("images/Categories/t-shirt.png");
}

#category-fashion {
    background-image: url("images/Categories/fashion.png");
    margin-left: 15px;
}

.category-img {
    width: 80px;
    height:80px;
    background-size:contain;
    background-repeat: no-repeat;
}


.mainfooter {
    display:flex;
    justify-content: center;
}

.footpanel1 {
    display: flex;
    justify-content: space-between;
    width:80%;
    margin-top: 30px;
}

.country-section {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    
}
#pakistan {
    background-image: url("images/Countries Flag/Pakistan.png");
}

#bangladesh {
    background-image: url("images/Countries Flag/Bangladesh.png");
}

#sri-lanka {
    background-image: url("images/Countries Flag/Sri Lanka.png");
}

#myanmar {
    background-image: url("images/Countries Flag/Myanmar.png");
}

#nepal {
    background-image: url("images/Countries Flag/nepal.png");
}

.country-image {
    width:25px;
    height:25px;
    margin-right: 5px;
    background-size: cover;
}

.footpanel1 h4 {
    color: rgb(248, 86, 6);
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom:10px;
    margin-top:30px;
}

.footpanel1 a {
    display:block;
    font-size: 0.9rem;
    padding-top:5px
}


.countries-footer {
    display:flex;
    width:230px;
    flex-wrap: wrap;
}

.country-section {
    margin-bottom: 5px;
    margin-right: 15px;
}

.payment-method {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
}

.payment-method img {
    margin-right:5px;
    margin-bottom: 5px;
}










